themeName = 'cobble'
activeColor = #06c
borderColor = #ccc
backgroundColor = #fff
inactiveColor = #444
shadowColor = #ddd
textColor = #444

@import './core'
@import './base'

.ql-cobble
  a
    color: activeColor
  &.ql-container
    font-size: 16px
  .ql-editor
    line-height: 1.6
  .ql-toolbar
    .ql-image
      border: 1px solid #eee
      border-radius: 2px
      margin-top: -4px
      height: 30px
      width: 28px
      padding: 6px 0
      svg
        float: none

  [data-placeholder]
    &.empty
      position: relative
      &:before
        position:absolute
        left:0
        right:0
        content:attr(data-placeholder)
        color:rgba(0,0,0,.44)
        font-weight:400
        white-space:nowrap
        text-overflow:ellipsis
        overflow:hidden
        pointer-events:none
  h1[data-placeholder]:before
    color:rgba(255,0,0,.75)

  .ql-blockTitle
    min-height: 36px
  .ql-blockImage
    position: relative
    z-index: 1
    &.uploading
      opacity: .2
    .ql-close-img
      position: absolute
      top: 1vh
      right: 1vw
      @extend .ql-cobble .ql-toolbar button
      padding: 0
      svg path
        fill: #fff

  .ql-tooltip
    background-color: transparent
    color: textColor
    transform: translate(36vw,-22px)
